/* Animation */

@keyframes opacity-transition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity-transition-reverse {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* End of animation */

/* Fixed bug */

html, body
{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}

/* End */

/* General view */

body
{
    background: #fffcde;
    font-family: 'Verdana', serif
}

#main-menu
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    left: 5%;
    z-index: 5;
    color: #fdfdfd;
}

.home-link
{
    width: 10%;
    height: 100%;
    background: #242424;
    text-align: center;
    font-size: 1.8em;
    cursor: pointer;
    margin: 0%;
    transition: all 1s ease-in-out;
    position: relative;
}

#active-link
{
    background: #fdfdfd;
    color: #080808;
    transition: all 1s ease-in-out;
}

.home-link>i
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-link
{
    width: 18%;
    height: 100%;
    margin: 0%;
    position: relative;
    background: #242424;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.main-link>span
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-link:hover, .home-link:hover, #active-link:hover
{
    background: #f2c56b;
    color: #080808;
    transition: all 1s ease-in-out;
}

#title-h1
{
    font-family: 'Verdana', serif;
    font-size: 3.6em;
    width: 80%;
    text-align: center;
    font-weight: normal;
    margin: 15% auto 5% auto;
}

#title-h3
{
    font-family: 'Verdana', serif;
    font-size: 2.4em;
    width: 80%;
    text-align: center;
    font-weight: normal;
    margin: 0% auto 5% auto;
}

/* End of general view */

/* Consensus view */

#failure-solution-container
{
    width: 100%;
    height: 90%;
    position: relative;
    display: none;
}

.chain
{
    width: 75%;
    margin: 0% auto;
    height: 1.75rem;
    background: #fdfdfd;
    border: 0.125rem solid #080808;
    border-radius: 2.5rem;
    position: absolute;
    left: 12.5%;
}

.chain.first
{
    top: 10%;
}

.chain.second
{
    top: 60%; 
}

.failure-dot-container, .solution-dot-container
{
    text-align:center;
    position: absolute;
    width: 75%;
    left: 12.5%;
}

.failure-dot-container
{
    top: 10%;
}

.solution-dot-container
{
    top: 60%;
}

.align-dot
{
    position: absolute;
    width: 100%;
    left: -2rem;
}

.failure-dot, .solution-dot
{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    color: #fdfdfd;
    border: 0.125rem solid #242424;
    display: inline-block;
    transition: all 1s ease;
    position: absolute;
    top: -0.875rem;
    left: 0%;
    z-index: 3;
}

.failure-dot>span, .solution-dot>span
{
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.failure-dot:nth-child(1), .solution-dot:nth-child(1)
{
    background: #0186c3;
}

.failure-dot:nth-child(2), .solution-dot:nth-child(2)
{
    left: 25%;
    background: #83d1d6;
}

.failure-dot:nth-child(3), .solution-dot:nth-child(3)
{
    left: 50%;
    background: #000;
}

.failure-dot:nth-child(4), .solution-dot:nth-child(4)
{
    left: 75%;
    background: #158c39;
}

.failure-dot:nth-child(5), .solution-dot:nth-child(5)
{
    left: 100%;
    background: #ee304d;
}

.failure-dot:hover, .solution-dot:hover
{
    cursor: pointer;
    transition: all 1s ease-in-out;
}

#magic-consensus
{
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    height: 50%;
    transform: translate(-50%,-50%);
}

#magic-container
{
    position: absolute;
    top: 1rem;
    width: 100%;
    height: 100%;
}

.consensus
{
    width: 90%;
    height: 80%;
    margin: 0% auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10%;
    left: 5%;
}

.link-arrow
{
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    position: absolute;
    top: 40%;
}

.link-arrow>p
{
    margin: 0%;
}

.link-arrow>i
{
    font-size: 2em;
}

.consensus>div
{
    width: 45%;
    height: 100%;
    background: #f2c56b;
    border: 0.125rem solid #080808;
    border-radius: 0.5rem;
}

.consensus>div:nth-child(1)
{
    margin-right: 5%;
}

.consensus>div:nth-child(2)
{
    margin-left: 5%;
}

.consensus>div>p
{
    width: 95%;
    height: 95%;
    margin: 0%;
    padding: 2.5%;
}

.title-h4
{
    font-weight: normal;
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 0.0625rem;
    margin: 2.5% auto 0% auto;
    text-transform: uppercase;
}

.title-h4 ~ p
{
    width: 80%;
    margin: auto;
    font-size: 1.2em;
    max-height: 70%;
    overflow-y: auto;
    z-index: 6;
}

.dot-legend-container
{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 0.125rem solid #080808;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.dot-legend-container>p
{
    width: 99%;
    margin: 1% 0.5%;
    font-size: 1.3em;
}

.dot-legend-container>div
{
    width: 20%;
    margin: 0.5% 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.dot-legend
{
    height: 3rem;
    width: 3rem;
    margin: 0% 2.5%;
    border-radius: 50%;
    color: #fdfdfd;
    border: 0.125rem solid #242424;
    display: inline-block;
    transition: all 1s ease;
    z-index: 3;
    position: relative;
}

.dot-legend-container>div:nth-child(5n+1)>.dot-legend
{
    background:  #ee304d;
}

.dot-legend-container>div:nth-child(5n+2)>.dot-legend
{
    background:  #0186c3;
}

.dot-legend-container>div:nth-child(5n+3)>.dot-legend
{
    background:  #83d1d6;
}

.dot-legend-container>div:nth-child(5n+4)>.dot-legend
{
    background:  #000;
}

.dot-legend-container>div:nth-child(5n)>.dot-legend
{
    background:   #158c39;
}

.dot-legend>span
{
    font-size: 1.4em;
    color: #fdfdfd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* End of consensus view */

/* Question view */

#question-container
{
    width: 100%;
    height: 90%;
    position: relative;
    display: none;
    text-align: center;
}

#question-container div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#question-container div p
{
    width: 75%;
    font-size: 1.4em;
    margin: 2.5% auto;
    text-align: justify;
}

#question-container div i
{
    font-size: 5em;
    text-align: center;
}

/* End of question view */

/* Link view */

#link-container
{
    width: 100%;
    height: 90%;
    position: relative;
    display: none;
    text-align: center;
}

#link-container div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#link-container div p
{
    width: 75%;
    font-size: 1.4em;
    margin: 2.5% auto;
    text-align: justify;
}

#link-container div i
{
    font-size: 5em;
    text-align: center;
}

/* End of link view */

/* Conclusion view */

#conclusion-container
{
    width: 100%;
    height: 90%;
    position: relative;
    display: none;
}

#conclusion-container i
{
    font-size: 50em;
    color: #080808;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#conclusion-container i:nth-child(2)
{
    color: #fdfdfd;
    font-size: 48em;
}

#conclusion-container p
{
    font-size: 1.3em;
    text-align: center;
    color: #080808;
    width: 40%;
    position: absolute;
    top: 62.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* End of conclusion view */

/* Method view */

#method-container
{
    width: 100%;
    height: 90%;
    position: relative;
    display: none;
    text-align: center;
}

#method-container div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#method-container div p
{
    width: 75%;
    font-size: 1.4em;
    margin: 2.5% auto;
    text-align: justify;
}

#method-container div i
{
    font-size: 5em;
    text-align: center;
}

/* End of method view */